.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* CARD */
.auth-card {
  width: 350px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  text-align: center;
}

/* TITLE */
.auth-card h2 {
  margin-bottom: 20px;
}

/* INPUTS */
.auth-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;

  border: 1px solid #ccc;
  border-radius: 8px;
}

/* BUTTON */
.auth-card button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.auth-card button:hover {
  background: #1d4ed8;
}

/* ERROR */
.error {
  color: red;
  margin-top: 10px;
}
